@model IEnumerable<NAA.Data.Application>

@{
    ViewBag.Title = "GetNotNullApplications";
}
<hr />
<h2 class="text-center">Your Applications with offers</h2>
<hr />
<table class="table">
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Teacher Reference
        </th>
        <th>
            Teacher Contact Details
        </th>
        <th>
            Offer Status
        </th>
        <th>
            Firm
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherContactDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityOffer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firm)
            </td>
            <td>
                @Html.ActionLink("Set Firm", "setFirmFalse", "ApplicationAdmin", new { application_id = item.ApplicationId, applicant_id = item.ApplicantId }, null)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Return to Profile", "GetProfile", "Profile", new { id = 7 }, null)
</div>

